<a href="https://colab.research.google.com/github/ndow33/unit1_project_build/blob/master/true_reply_rate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#In the beginning, there was data...

In [0]:
#mount google drive to colab
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
#imports
import pandas as pd
import numpy as np
# Plotly imports
import plotly
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, plot, iplot

In [0]:
#enable plotly in colab
def enable_plotly_in_cell():
    import IPython
    from plotly.offline import init_notebook_mode
    display(IPython.core.display.HTML('''<script src="/static/components/requirejs/require.js"></script>'''))
    init_notebook_mode(connected=False)

In [0]:
#create dataframe from sequences data
sequences_df = pd.read_csv('/content/drive/My Drive/Lambda/Unit 1/Unit 1 Build/USE_2user-sequences-report-12_01_2019-02_22_2020 - USE_user-sequences-report-12_01_2019-02_22_2020.csv')
sequences_df.head()

   User Id User Role  ... Bounce Rate Unsubscribe Rate
0       14  SDR (US)  ...        2.99              0.0
1       14  SDR (US)  ...        0.98              0.0
2       14  SDR (US)  ...        2.43              0.0
3       14  SDR (US)  ...       15.76              0.0
4       14  SDR (US)  ...        2.27              0.0

[5 rows x 34 columns]

In [0]:
#create a new dataframe using 'Sequence Id', 'Sequence Name', Deliveries, Opens, Replies 'Reply Rate', and 'Open Rate' columns
 sequences_2 = sequences_df[['Sequence Id','Sequence Name', 'Deliveries', 'Opens', 'Replies', 'Open Rate', 'Reply Rate']].copy()
 sequences_2

    Sequence Id                  Sequence Name  ...  Open Rate  Reply Rate
0            30       US - SDR Sequence 2 Q419  ...      26.04        1.97
1            41    US - Low Touch General Q419  ...      33.01        3.59
2            16       US - SDR Sequence 1 Q419  ...      30.14        1.57
3            38            US General 2 - Q419  ...      17.58        1.21
4            31       US - SDR Sequence 3 Q419  ...      27.27        0.00
..          ...                            ...  ...        ...         ...
56          142  US - SDR Sequence 1 (clone 1)  ...      56.25       25.00
57          144    US General 1 Auto (clone 1)  ...      39.24        5.06
58          161  US - SDR - Hamid - Email Only  ...      30.72        4.08
59          209             US - SDR - Hamid 2  ...      26.67        0.00
60          176     US - SDR Email Only 2 Q120  ...      28.74        2.99

[61 rows x 7 columns]

#Make a for loop

In [0]:
#make a df of the 26 sequence id's
sequence_ids =[]
sequence_ids = sequences_2['Sequence Id'].value_counts()
df = pd.DataFrame(sequence_ids)
df = pd.DataFrame(df.index)
df

      0
0   126
1   134
2    16
3    31
4   213
5    53
6   114
7   176
8   161
9     7
10  159
11  140
12  142
13  209
14   30
15  124
16   41
17  195
18  214
19  224
20  144
21  141
22   38
23  138
24  177
25  251

In [0]:
#create a for loop that will compress this data into a dataframe of 26 columns that represent the 
#total stats for each sequence

#make a counter variable
count = 1

sequence_ids = []

for id in sequences_2['Sequence Id']:
  condition = sequences_2['Sequence Id'] == id
  df = sequences_2[condition]

In [0]:
#create a counter variable that will go through the index values
count = 0

#create lists that the variables can be saved to and later turned into a dataframe
sequence_ids = []
sequence_name = []
deliveries = []
opens = []
replies = []

#write a for loop that will go through the dataframe and consolidate it by combining
#the data from sequences with the same name

for id in sequences_2['Sequence Id']:
  
  #use counter to initiate dataframe
  if count==0:
    
    #append the lists from above with data from the first index of sequences_2
    sequence_ids.append(sequences_2.iloc[count]['Sequence Id'])
    sequence_name.append(sequences_2.iloc[count]['Sequence Name'])
    deliveries.append(sequences_2.iloc[count]['Deliveries'])
    opens.append(sequences_2.iloc[count]['Opens'])
    replies.append(sequences_2.iloc[count]['Replies'])
    
    #create a dataframe from these lists
    compressed_df = pd.DataFrame({'Sequence Id':sequence_ids, 'Sequence Name':sequence_name, 
                       'Deliveries':deliveries, 'Opens':opens, 'Replies':replies})
    
    #Update counter
    count = count + 1




#show df
print(sequence_ids)
compressed_df

[30]

   Sequence Id             Sequence Name  Deliveries  Opens  Replies
0           30  US - SDR Sequence 2 Q419        1874    488       37

In [0]:
len(sequences_2)

61

In [0]:
#create a counter variable that will go through the index values
count = 0
count2 = 0

#create lists that the variables can be saved to and later turned into a dataframe
sequence_ids = []
sequence_name = []
deliveries = []
opens = []
replies = []

#write a for loop that will go through the dataframe and consolidate it by combining
#the data from sequences with the same name

for id in sequences_2['Sequence Id']:  
  #use counter to initiate dataframe
  if count==0:
    
    #append the lists from above with data from the first index of sequences_2
    sequence_ids.append(sequences_2.iloc[count]['Sequence Id'])
    sequence_name.append(sequences_2.iloc[count]['Sequence Name'])
    deliveries.append(sequences_2.iloc[count]['Deliveries'])
    opens.append(sequences_2.iloc[count]['Opens'])
    replies.append(sequences_2.iloc[count]['Replies'])
    
    #create a dataframe from these lists
    compressed_df = pd.DataFrame({'Sequence Id':sequence_ids, 'Sequence Name':sequence_name, 
                       'Deliveries':deliveries, 'Opens':opens, 'Replies':replies})


  #Go through each row of the dataframe
  if count > 0 & count <= len(sequences_2):
    #assign the current sequence id to a variable 
    current_id = sequences_2.iloc[count]['Sequence Id']
    #create a for loop to run through the list of sequence id's
    for id_2 in sequence_ids:
      #create a condition that will compare the current id from sequences_2 
      #with the id from the list sequence_ids
      #if the current id and the id in the list of sequence ids is the same, 
      #combine the data
      if current_id==id_2:
        #write a condition
        condition = compressed_df['Sequence Id'] == id_2
        #isolate each column in compressed_df based on its sequence number
        deliveries_1 = compressed_df[condition].iloc[0][2]
        opens_1 = compressed_df[condition].iloc[0][3]
        replies_1 = compressed_df[condition].iloc[0][4]
        #isolate the each column in sequences_2 based on its sequence number
        deliveries_2 = sequences_2.iloc[count][2]
        opens_2 = sequences_2.iloc[count][3]
        replies_2 = sequences_2.iloc[count][4]
        #combine the totals of each column into the compressed_df
        compressed_df.loc[0, 'Deliveries'] = deliveries_1 + deliveries_2
        compressed_df.loc[0, 'Opens'] = opens_1 + opens_2
        compressed_df.loc[0, 'Replies'] = replies_1 + replies_2



  count = count + 1

In [0]:
print(sequence_ids)
compressed_df

[30]

   Sequence Id             Sequence Name  Deliveries  Opens  Replies
0           30  US - SDR Sequence 2 Q419        2581    652       56

In [0]:
condition = sequences_2['Sequence Id'] == 30
sequences_2[condition]

    Sequence Id             Sequence Name  ...  Open Rate  Reply Rate
0            30  US - SDR Sequence 2 Q419  ...      26.04        1.97
18           30  US - SDR Sequence 2 Q419  ...      23.20        2.69

[2 rows x 7 columns]

In [0]:
#create a counter variable that will go through the index values
count = 0
count2 = 0

#create lists that the variables can be saved to and later turned into a dataframe
sequence_ids = []
sequence_name = []
deliveries = []
opens = []
replies = []

#write a for loop that will go through the dataframe and consolidate it by combining
#the data from sequences with the same name

for id in sequences_2['Sequence Id']:  
  #use counter to initiate dataframe
  if count==0:
    
    #append the lists from above with data from the first index of sequences_2
    sequence_ids.append(sequences_2.iloc[count]['Sequence Id'])

    
    #create a dataframe from these lists
    compressed_df = pd.DataFrame({'Sequence Id':sequence_ids})
    
    #Update counter
    count = count + 1

  #This section of code will run after passing the 0th index 
  #Now that we have a dataframe, let's check to see if the sequence id is the 
  #same and add to our data   
  else:
    if count < 10:
      #Check to see if the sequence id has already been stored in the list of sequence_ids
      for id2 in compressed_df['Sequence Id']:
        #if it has been stored in our list, we need to combine the data from this
        #current index of sequences_2 with our existing lists
        if id2 == id:
          count2 = count2+1
        else:       
          sequence_ids.append(sequences_2.iloc[count]['Sequence Id'])

    
          #create a dataframe from these lists
          compressed_df = pd.DataFrame({'Sequence Id':sequence_ids})
    #end for loop
    #Update counter
  count = count + 1

In [0]:
if sequences_2.[index]['Sequence Id']==compressed_df['Sequence Id']

SyntaxError: ignored

In [0]:
condition = compressed_df['Sequence Id']==126
compressed_df[condition].shape

In [0]:
condition = sequences_2['Sequence Id']==126
sequences_2[condition].shape